@import "../colors.scss";

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $first-color;
    color: #FFFFFF;
}

.footer__text {
    margin-left: 20px;
    font-family: "Manrope";
}